<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Recipes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let recipe of recipes" [routerLink]="['./',recipe.id]" detail>
            <ion-avatar slot="start">
                <ion-img [src]="recipe.imageUrl"></ion-img>
            </ion-avatar>
            <ion-label>{{recipe.title | titlecase}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>