<ion-header>
    <ion-toolbar color="danger">
        <ion-title>
            <ion-button slot="start" color="primary">
                <ion-icon slot="icon-only" name="home"></ion-icon>
            </ion-button>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <h1 class="ion-text-center">Richa's Secret Recipes!</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-img src="https://www.seekpng.com/png/detail/794-7943214_8-best-images-of-recipe-book-printable-cover.png"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <p class="ion-margin">Hi, Welcome to my cooking blog!<br/> Wanna know my secret recipes?
                    <br>So, What are you waiting for? Let's dive in!!!</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button class="ion-margin" fill="outline" color="danger" [routerLink]="['/recipes']">My Recipes</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>